/* Variables */

:root {
    --basic-black: #000000;
    --basic-dark: #363636;
    --basic-grey: #464646;
    --basic-half-grey: #7e7e7e;
    --basic-grey-light: #e5e5e5;
    --basic-white: #ffffff;
    
    --special-yellow-darker: #ffc600;
    --special-yellow-dark: #f0c52e;
    --special-yellow: #f7e296;
    --special-green: #91c92f;
    --special-half-grey: #D9D9D9;
    --special-grey-light: #EBEBEB;
    --special-transparent-black: rgba(0, 0, 0, 0.3);
    
    --filter-grey: #DCDCDC;
    --status-pink: #f6dada;
}

/* Fonts */

/* gilroy-300 - latin_cyrillic */
@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 300;
    src: local('Gilroy Light'), local('Gilroy-Light'), 
         url('../fonts/Gilroylight.woff2') format('woff2'), 
         url('../fonts/Gilroylight.woff') format('woff'), 
         url('../fonts/Gilroylight.ttf') format('truetype');
    
}
/* gilroy-800 - latin_cyrillic */
@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    src: local('Gilroy ExtraBold'), local('Gilroy-ExtraBold'), 
         url('../fonts/Gilroyextrabold.woff2') format('woff2'), 
         url('../fonts/Gilroyextrabold.woff') format('woff'), 
         url('../fonts/Gilroyextrabold.ttf') format('truetype');
}

/* open-sans-300 - latin_cyrillic */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/open-sans-v17-latin_cyrillic-300.eot'); /* IE9 Compat Modes */
    src: local('Open Sans Light'), local('OpenSans-Light'),
         url('../fonts/open-sans-v17-latin_cyrillic-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/open-sans-v17-latin_cyrillic-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/open-sans-v17-latin_cyrillic-300.woff') format('woff'), /* Modern Browsers */
         url('../fonts/open-sans-v17-latin_cyrillic-300.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/open-sans-v17-latin_cyrillic-300.svg#OpenSans') format('svg'); /* Legacy iOS */
  }
/* open-sans-regular - latin_cyrillic */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/open-sans-v17-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
    src: local('Open Sans Regular'), local('OpenSans-Regular'),
        url('../fonts/open-sans-v17-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/open-sans-v17-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/open-sans-v17-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
        url('../fonts/open-sans-v17-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/open-sans-v17-latin_cyrillic-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}

.visually-hidden {
    position: absolute;
  
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
  
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  *,
  *::after,
  *::before {
      box-sizing: border-box;
  }

body {
    min-width: 1160px;
    margin: 0;
    padding: 0;

    font-family: 'Open Sans', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;

    color: var(--basic-black);
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
    color: var(--basic-black);
}

img {
    max-width: 100%;
    height: auto;
}

.page {
    height: 100%;
}

.page-body {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
    min-height: 100%;
}

.container {
    width: 1160px;
    margin: 0 auto;
}

/* HEADER */

.main-header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    margin-top: 40px;
    padding-top: 44px;
    padding-left: 60px;
    padding-right: 60px;
    background-color: var(--special-yellow);
}

.main-header .top-header-wrapper {
    display: grid;
    grid-template-columns: 1fr 500px;
    width: 100%;
    margin-bottom: 50px;
}

.main-header .main-navigation {
    display: grid;
    grid-template-columns: 1fr 500px;
    width: 100%;
}

.main-header .logo-device {
    position: absolute;
    top: -20px;
    left: 60px;

    width: 163px;
    height: 35px;
}

.options {
    display: flex;
    justify-content: flex-end;
    line-height: 20px;
}

.options-login {
    margin-right: auto;
    padding-left: 24px;
}

.options-compare {
    margin-right: 41px;
    padding-left: 26px;
}

.options-checkout {
    padding-left: 22px;
}

.logo-device:hover,
.main-header a:hover,
footer a:hover {
    opacity: 0.6;
}

.logo-device:active,
.main-header a:active,
footer a:active {
    opacity: 0.3;
}

.main-navigation-list,
.main-navigation-catalog > a {
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    list-style: none;
}

.main-navigation-list {
    display: flex;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
}

.main-navigation-delivery {
    margin-right: 38px;
}

.main-navigation .main-navigation-contacts {
    margin-right: 0;
    margin-left: auto;
}

.catalog-menu {
    font-family: 'Open sans', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;

    list-style: none;
    display: none;
}

.search-input {
    background-color: var(--special-yellow);
    border: none;
    opacity: 0.3;
}

.search-input:hover {
    opacity: 0.6;
}

.search-input + label {
    display: none;
}

.search-button {
    display: none;
    text-transform: uppercase;
    box-sizing: border-box;
    border: 2px solid var(--basic-black);
}

.search-button:hover {
    color: var(--basic-white);
    background-color: var(--basic-black);
}

.search-button:active {
    color: var(--basic-white);
    opacity: 0.3;
    background-color: var(--basic-black);
}

/* SLIDER */

.slide-selfie-stick,
.slide-smart-watch,
.slide-quadcopter {
    display: grid;
    grid-template-columns: 1fr 500px;
}

.slide-smart-watch,
.slide-quadcopter {
    display: none;
}

.slider-wrapper .container {
    padding-right: 60px;
}

.slider-wrapper section {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.slider-wrapper h2 {
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-weight: 800;
    font-size: 47px;
    line-height: 58px;
}

.slider-wrapper img {
    background-color: transparent;
}

.slider-wrapper a {
    margin: 60px 0;
    padding-left: 44px;
    width: 220px;
    
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.2em;
    text-transform: uppercase;

    box-shadow: inset 0 7px 0 0 var(--basic-white),
                inset 0 -7px 0 0 var(--basic-white);
    background-color: var(--special-yellow-dark);
}

.slider-wrapper a:hover,
.slider-wrapper a:focus {
    box-shadow: none;
    transition: box-shadow 0.3s;
    background-color: var(--special-yellow-dark);
}

.slider-wrapper a:active {
    color: var(--special-transparent-black);
    background-color: var(--special-yellow-dark);
}

.slider-wrapper td {
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.1em;
}

.slider-wrapper th {
    text-align: left;
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
}

/* POPULAR */

.popular {
    display: flex;
    justify-content: space-between;
    margin-bottom: 49px;
    padding: 0;
    list-style: none;
}

.popular li {
    width: 160px;
}

.popular a {
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.05em;
}

.popular a::before {
    content: '';
    margin-bottom: 38px;
    width: 160px;
    height: 160px;
    display: block;
    background-color: var(--special-yellow);
}

.popular-vr::before {
    background-image: url(../img/popular-1.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.popular-selfie-stick::before {
    background-image: url(../img/popular-2.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.popular-action-cam::before {
    background-image: url(../img/popular-3.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.popular-fitness-tracker::before {
    background-image: url(../img/popular-4.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.popular-smart-watch::before {
    background-image: url(../img/popular-5.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.popular-quadcopter::before {
    background-image: url(../img/popular-6.svg);
    background-repeat: no-repeat;
    background-position: center;
}

/* SERVICE */

.service {
    margin-bottom: 90px;
    height: 403px;
    background-color: var(--basic-grey-light);
    box-shadow: inset 0 115px 0 0 var(--basic-white);
}

.service .container {
    display: grid;
    grid-template-columns: 284px 1fr;
}

.service-warranty,
.service-credit {
    display: none;
}

.service-navigation {
    margin-top: 105px;
    padding: 0;
    list-style: none;
}

.service-options {
    position: relative;
    padding-top: 86px;
    padding-left: 116px;
}

.service-navigation button {
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
    width: 160px;
    
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    
    border: none;
    box-shadow: inset 0 7px 0 0 var(--basic-grey-light),
                inset 0 -7px 0 0 var(--basic-grey-light);
    background-color: var(--special-yellow-dark);
}

.service-navigation .button-delivery {
    box-shadow: inset 0 7px 0 0 var(--basic-white),
                inset 0 -7px 0 0 var(--basic-grey-light);
}

.service-navigation button:hover {
    box-shadow: none;
    transition: box-shadow 0.3s;
    background-color: var(--special-yellow-dark);
}

.service-navigation button:active,
.service-navigation button:focus {
    width: 277px;
    height: 40px;
    padding-left: 19px;
    text-align: left;
    color: var(--special-yellow);
    background-color: var(--basic-black);
    box-shadow: none;
    outline: transparent;
}

.service h2 {
    margin: 0;
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-weight: 800;
    font-size: 47px;
    line-height: 58px;
    letter-spacing: 0.2em;
}

.service p {
    width: 495px;
    line-height: 28px;
    letter-spacing: 0.1em;
}

.service-options .option::after {
    position: absolute;
}

.service-delivery::after {
    content: '';
    top: 86px;
    right: 2px;
    width: 136px;
    height: 164px;
    background-image: url(../img/delivery.png);
    background-repeat: no-repeat;
    background-position: center;
}

.service-warranty::after {
    content: '';
    width: 171px;
    height: 195px;
    background-image: url(../img/warranty.png);
    background-repeat: no-repeat;
    background-position: center;
}

.service-credit::after {
    content: '';
    width: 156px;
    height: 188px;
    background-image: url(../img/credit.png);
    background-repeat: no-repeat;
    background-position: center;
}

/* LOGOTYPES */

.logotypes {
    margin-bottom: 90px;
    padding: 0;
    display: flex;
    justify-content: space-between;

    list-style: none;
}

.logotypes li {
    padding: 0;
    margin: 0;
}

.logotypes li a {
    width: 260px;
    height: 100px;
    display: block;
    margin-top: 10px;
    background-position: center;
    background-repeat: no-repeat;
}

.logotypes-dji a {
    background-image: url(../img/logo-dji.png);
}

.logotypes-spgadgets a {
    background-image: url(../img/logo-spgadgets.png);
}

.logotypes-gopro a {
    background-image: url(../img/logo-gopro.png);
}

.logotypes-vive a {
    background-image: url(../img/logo-vive.png);
}

.logotypes-dji a:hover {
    background-image: url(../img/logo-dji-hovered.png);
}

.logotypes-spgadgets a:hover {
    background-image: url(../img/logo-spgadgets-hovered.png);
}

.logotypes-gopro a:hover {
    background-image: url(../img/logo-gopro-hovered.png);
}

.logotypes-vive a:hover {
    background-image: url(../img/logo-vive-hovered.png);
}

/* ABOUT & CONTACTS */

.sections-wrapper {
    display: grid;
    grid-template-columns: 473px 560px;
    column-gap: 127px;
    margin-bottom: 86px;
    height: 580px;
}

.sections-wrapper section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sections-wrapper section::before {
    content: '';
    /* display: block; */
    width: 80px;
    height: 7px;
    background-color: var(--basic-black);

}

.sections-wrapper h2 {
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-weight: 800;
    font-size: 47px;
    line-height: 58px;
    letter-spacing: 0.2em;
}

.sections-wrapper p {
    line-height: 28px;
}

.shipping-companies li {
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 28px;
}

.about a,
.sections-wrapper button {
    padding: 0;
    margin: 0;
    width: 260px;
    height: 22px;

    font-family: 'Gilroy', 'Arial', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.2em;
    text-transform: uppercase;

    border: none;
    box-shadow: inset 0 7px 0 0 var(--basic-white),
                inset 0 -7px 0 0 var(--basic-white);
    background-color: var(--special-yellow-dark);
}

.about a {
    padding-left: 24px;
}

.sections-wrapper .about > a:hover,
.sections-wrapper  .about > a:focus,
.sections-wrapper button:hover,
.sections-wrapper button:focus {
    box-shadow: none;
    transition: box-shadow 0.3s;
    background-color: var(--special-yellow-dark);
    
}

.sections-wrapper .about > a:active,
.sections-wrapper button:active {
    color: var(--special-transparent-black);
    background-color: var(--special-yellow-dark);
    outline: transparent;
}

.contacts-map {
    padding: 0;
    margin: 0;
    width: 560px;
    height: 222px;
    background-color: var(--basic-grey-light);
}

/* FOOTER */

footer {
    position: relative;
    padding-top: 46px;
    padding-bottom: 65px;
    background-color: var(--basic-dark);
    color: var(--basic-white);
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .logo-device {
    position: absolute;
    top: 64px;
}


footer .options {
    margin-bottom: 72px;
}

footer .options-login {
    margin-right: 38px;
}

footer .options a {
    color: var(--basic-white);
    opacity: 0.7;
}

footer .options a:hover {
    opacity: 1;
}

footer .options a:active {
    opacity: 0.3;
}

.footer-wrapper:not(:last-child) {
    margin-bottom: 67px;
}

footer .main-navigation-list {
    display: flex;
    justify-content: space-between;
    width: 423px;
    height: 22px;
}

footer .main-navigation-list a {
    color: var(--basic-white);
}

.footer-wrapper:last-child::before {
    content: '';
    display: block;
    width: 80px;
    height: 7px;
    background-color: var(--special-yellow-darker);
}

footer .socials {
    display: flex;
    justify-content: space-between;
    padding: 0;
    width: 136px;
    height: 32px;
    list-style: none;
}

footer .socials a {
    opacity: 0.3;
}

footer .socials a:hover {
    opacity: 0.6;
}

footer .socials a:active {
    opacity: 0.1;
}

/* MODAL */

.modal {
    display: none;
}


/* CATALOG.html */

h1 {
    margin-left: 60px;
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-weight: 800;
    font-size: 47px;
    line-height: 58px;
}

/* MAIN-GRID */

.catalog-main {
    display: grid;
    grid-template-columns: 328px 1fr;
    align-content: start;
}

.catalog-main .page-title {
    grid-column: 1 / -1;
}

.catalog-main .breadcrumbs {
    grid-column: 1 / -1;
    margin-bottom: 50px;
    
}

/* CATALOG-MAIN */

.catalog-main h2 {
    margin: 0;
    padding: 0;
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.breadcrumbs {
    margin: 0;
    padding: 0;
    margin-left: 60px;
    display: flex;
    justify-content: flex-start;
    list-style: none;
}

.breadcrumbs li {
    margin-right: 40px;
    font-size: 14px;
    line-height: 19px;
    opacity: 0.3;
}

.breadcrumbs li a:hover {
    opacity: 0.6;
}

.breadcrumbs li a:active {
    opacity: 0.1;
}

.filter {
    padding-left: 60px;
    padding-right: 68px;
    background-color: var(--basic-grey-light);
}

.filter fieldset {
    border: none;
}

.filter ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.filter label {
    margin-left: 18px;
    font-size: 14px;
    line-height: 19px;
}

.filter-header-wrapper {
    margin-bottom: 70px;
    height: 70px;
    background-color: var(--filter-grey);
}

.filter legend {
    width: 100%;
    margin-bottom: 30px;
    padding-top: 16px;
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-weight: 800;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.1em;
    border-top: 2px solid var(--basic-black);
}

.filter-price + label {
    display: none;
}

.filter-price-range {
    margin-bottom: 38px;
}

.filter-color {
    margin-bottom: 37px;
}

.filter-color li {
    margin-bottom: 15px;
}

.filter-bluetooth {
    margin-bottom: 50px;
}

.filter-bluetooth li {
    margin-bottom: 16px;
}

.filter button[type=submit] {
    padding: 0;
    margin: 0;
    width: 100%;

    font-family: 'Gilroy', 'Arial', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.2em;
    text-transform: uppercase;

    border: none;
    box-shadow: inset 0 7px 0 0 var(--basic-grey-light),
                inset 0 -7px 0 0 var(--basic-grey-light);
    background-color: var(--special-yellow-dark);
}

.filter button[type=submit]:hover,
.filter button[type=submit]:focus {
    box-shadow: none;
    transition: box-shadow 0.3s;
    background-color: var(--special-yellow-dark);
}

.filter button[type=submit]:active {
    color: var(--special-transparent-black);
    background-color: var(--special-yellow-dark);
    outline: transparent;
}

.catalog {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    margin-bottom: 78px;
    padding-left: 72px;
}

.catalog-sort {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.catalog-sort {
    margin-bottom: 70px;
    min-height: 70px;
    background-color: var(--basic-grey-light);
}

.catalog-sort .sort-title {
    margin-right: 74px;
}

.catalog-sort-types {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
    border: 2px solid red;
}

.catalog-sort-types li:not(:last-child) {
    margin-right: 30px;
}

.catalog-sort-types a {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    opacity: 0.3;
}

.catalog-sort-types a:hover {
    opacity: 0.6;
}

.catalog-sort-types a:active {
    opacity: 1;
}

.catalog-sort-buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.catalog-sort-buttons .a-z {
    margin: 0;
    margin-right: 16px;
    padding: 0;
    width: 18px;
    height: 18px;

    background-color: var(--basic-grey-light);
    background-image: url(../img/icon-up-dir.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    opacity: 0.2;
    
}

.catalog-sort-buttons .z-a {
    margin: 0;
    padding: 0;
    width: 18px;
    height: 18px;
    
    background-color: var(--basic-grey-light);
    background-image: url(../img/icon-up-dir.svg);
    background-repeat: no-repeat;
    background-position: 1px 0;
    border: none;
    transform: rotate(180deg);
}

.catalog-sort-buttons .a-z:hover,
.catalog-sort-buttons .z-a:hover {
    opacity: 0.4;
}

.catalog-sort-buttons .a-z:active,
.catalog-sort-buttons .z-a:active,
.catalog-sort-buttons .a-z:focus,
.catalog-sort-buttons .z-a:focus {
    opacity: 1;
    outline: transparent;
}

.catalog-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
    list-style: none;

    border: 2px dotted red;
}

.catalog-list li {
    width: 360px;
}

.catalog-list .item-title-container {
    display: flex;
    justify-content: space-between;
}

.catalog-list h3 {
    margin: 0;
    margin-right: 5px;
    padding: 0;
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.05em;
}

.catalog-list .price {
    min-width: 85px;
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 16px;
    text-align: right;
    line-height: 18px;
    letter-spacing: 0.05em;
    
}

.catalog-list img:hover {
    opacity: 0.7;
}

.catalog-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0 30px;
    min-height: 70px;
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    background-color: var(--special-grey-light);
    list-style: none;
}

.page-numbers {
    display: flex;
    list-style: none;
}

.page-number:not(:last-child) {
    margin-right: 30px;
}

.catalog-nav .page-number a {
    opacity: 0.3;
}

.catalog-nav .page-number a:hover {
    opacity: 0.6;
}

.catalog-nav .page-number a:active {
    opacity: 1;
}

.catalog-nav .prev-page a:hover,
.catalog-nav .next-page a:hover {
    background-color: var(--special-half-grey);
}

.catalog-nav .prev-page a:active,
.catalog-nav .next-page a:active {
    color: var(--special-transparent-black);
}






